[submodule "Corruption"]
	path = Corruption
	url = https://github.com/Pychnight/Corruption
[submodule "CurrencyX"]
	path = CurrencyX
	url = https://github.com/Pychnight/CurrencyX
[submodule "Custom-Npcs-2"]
	path = Custom-Npcs-2
	url = https://github.com/Pychnight/Custom-Npcs-2
[submodule "Custom-Quests"]
	path = Custom-Quests
	url = https://github.com/Pychnight/Custom-Quests
[submodule "Housing"]
	path = Housing
	url = https://github.com/Pychnight/Housing
[submodule "Leveling"]
	path = Leveling
	url = https://github.com/Pychnight/Leveling
[submodule "NpcShops"]
	path = NpcShops
	url = https://github.com/Pychnight/NpcShops
[submodule "Terraria-Boo"]
	path = Terraria-Boo
	url = https://github.com/Pychnight/Terraria-Boo
